.bar-words{
    display:flex;
    align-items: center;
    min-height: 4rem;
    background-color:black;
    position:fixed;
    z-index:20;
    width:100%;
    white-space:nowrap;
    padding-left:4rem;   
    .words{
        display:flex;
        font-weight: 400;
        margin-bottom: 0.5rem;
        background-color: black;        
        .word{
            margin-left:1rem;
            font-size: 18px;
            font-weight:700;
            color: #FFFFFF;
            text-decoration:none;
        }      
    }
}